<p id="notice"><%= notice %></p>

<div class="row center marginT10">
	<div class="col-md-offset-3 col-md-6">
		<div class="row">
			<div class="col-md-12">
				<p>
					<strong>Nom :</strong>
					<%= @user.nom %>
				</p>

				<p>
					<strong>Prenom :</strong>
					<%= @user.prenom %>
				</p>

				<p>
					<strong>Email :</strong>
					<%= @user.email %>
				</p>
				<p>
					<strong>Article(s) rédigé(s) par <%= @user.nom %> :</strong><br>
				</p>
			</div>
		</div>
		<div class="row">
				<% @posts.each do |post| %>
					<% if @user.nom==post.nomAuteur%> 
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<h3><%= link_to post.titre, post_path(post.id) %></h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<%= image_tag post.vignette.small %>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
		</div>
	</div>
</div>
