<p id="notice"><%= notice %></p>

<p>
  <strong>Contenu:</strong>
  <%= @commentaire.contenu %>
</p>

<p>
  <strong>Date:</strong>
  <%= @commentaire.date %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @commentaire.auteur %>
</p>

<%= link_to 'Modifier', edit_commentaire_path(@commentaire) %> |
<%= link_to 'Retour', commentaires_path %>
