  
<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
    <%= f.label :titre %>
    <%= f.text_field :titre, :class => 'form-control' %><br>

    <%= f.label :date %>
    <%= f.date_select :date, :class => 'form-control' %><br>

    <%= f.label 'Résumé' %>
    <%= f.text_area :chapeau, :class => 'form-control'%><br>

    <%= f.label :vignette %><br>
    <%= f.file_field :vignette, :class => 'form-control'%><br>

    <%= f.label 'Auteur' %><br>
    <%= f.text_field :nomAuteur, :class => 'form-control', :value => current_user.nom %><br>
  </div>
  <div class="actions">
    <%= f.submit "Enregistrer le post", :class => 'btnGreen' %>
  </div>
<% end %>
