<p id="notice"><%= notice %></p>

<div class="row">
<% @posts.each do |post| %>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h1><%= link_to post.titre, post %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Automatiser id user dans path -->   
                <p><%= link_to post.nomAuteur, user_path(4) %></p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-calendar"></i><p><%= post.date %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%=image_tag post.vignette.small %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><%= post.chapeau %> </p>
            </div>
        </div>

        <% if user_signed_in? %>
            <p><%= link_to 'Editer', edit_post_path(post) %></p>
            <p><%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <p><%= link_to 'Nouveau post', new_post_path %></p>
        <% end %>
    </div>
<% end %>
</div>


