<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @post.titre %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Chapeau:</strong>
  <%= @post.chapeau %>
</p>

<p>
  <% @users.each do |user| %>
    <% if user.nom==@post.nomAuteur %>
      <%= link_to 'Auteurs:', user_path(user.id) %>
      <%= @post.nomAuteur %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Vignette:</strong>
  <%= image_tag @post.vignette ,:class=>'img-responsive' %>
</p>

<% if user_signed_in? %>
  <%= button_to 'Edit', edit_post_path(@post), :method => "get" %>
<% end %>



<% @commentaires.each do |commentaire| %>
  <% if commentaire.post_id == @post.id %>
    <strong>Commentaire de <%= commentaire.auteur %>:</strong><br>
    <td><%= commentaire.contenu %> </td><br>
    <strong>Posté le : </strong><%= commentaire.date %><br><br>
    <% end %>
<% end %> <br><br>


<%= render template: '/commentaires/new' %>
