<!DOCTYPE html>
<html>
  	<head>
		<title>Blog</title>
		<%= csrf_meta_tags %>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container-fluid">
	  	<div class="container">
			<div class="row">
		  		<div class="col-md-6">
				<h1>Blogo</h1>
		  	</div>
		  	<div class="col-md-offset-4 col-md-2">
			  	<% if user_signed_in? %>
					Connecté en tant que : <%= current_user.nom %><br>
					<i class=" fa fa-sign-out"></i><%= link_to ' Déconnexion',destroy_user_session_path, :method => "get",method: :delete %>
			  	<% else %>
					<i class=" fa fa-sign-in"></i><%= link_to " Se connecter",new_user_session_path, :method => "get" %>
			  	<% end %> 
		  	</div>
		</div>
		<%= link_to 'Accueil', posts_path %>
	  	</div>
	</div>

	<div class="container">
	  	<%= yield %>
  	</div>
  </body>
</html>

